<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<title>Insert title here</title>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>

<canvas id="export2122" width="200" height="200"></canvas>


<script th:inline="javascript">
        var ctx = document.getElementById('export2122').getContext('2d');

        /*<![CDATA[*/


            var months = /*[[${data.sheet21_22.period}]]*/ ;
            var LPGX = /*[[${data.sheet21_22.exports[0].valuesPerMonth}]]*/ ;
            var MSX = /*[[${data.sheet21_22.exports[1].valuesPerMonth}]]*/ ;
            var napthaX = /*[[${data.sheet21_22.exports[2].valuesPerMonth}]]*/ ;
            var ATFX = /*[[${data.sheet21_22.exports[3].valuesPerMonth}]]*/ ;
            var SKOX = /*[[${data.sheet21_22.exports[4].valuesPerMonth}]]*/ ;
            var HSDX = /*[[${data.sheet21_22.exports[5].valuesPerMonth}]]*/ ;
            var LDOX = /*[[${data.sheet21_22.exports[6].valuesPerMonth}]]*/ ;
            var LOBSX = /*[[${data.sheet21_22.exports[7].valuesPerMonth}]]*/ ;
            var fuelOilX = /*[[${data.sheet21_22.exports[8].valuesPerMonth}]]*/ ;
            var bitumenX = /*[[${data.sheet21_22.exports[9].valuesPerMonth}]]*/ ;
            var petCokeX = /*[[${data.sheet21_22.exports[10].valuesPerMonth}]]*/ ;
            var othersX = /*[[${data.sheet21_22.exports[11].valuesPerMonth}]]*/ ;
            var totalProductExportX = /*[[${data.sheet21_22.exports[12].valuesPerMonth}]]*/ ;



        /*]]>*/

        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: months.slice(0, 12),
                datasets: [{
                    label: 'LPG',
                    data: LPGX.slice(0, 12),
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    borderColor: 'rgba(255, 99, 132, 1)',
                    borderWidth: 1
                },
                {
                    label: 'MS',
                    data: MSX.slice(0, 12),
                    backgroundColor: 'rgba(54, 162, 235, 0.2)',
                    borderColor: 'rgba(54, 162, 235, 1)',
                    borderWidth: 1
                },
                {
                    label: 'Naptha',
                    data: napthaX.slice(0, 12),
                    backgroundColor: 'rgba(54, 247, 161, 0.2)',
                    borderColor: 'rgba(54, 247, 161, 1)',
                    borderWidth: 1
                },
                {
                    label: 'ATF',
                    data: ATFX.slice(0, 12),
                    backgroundColor:'rgba(255, 115, 255, 0.2)',
                    borderColor: 'rgba(255, 115, 255, 1)',
                    borderWidth: 1
                },
                {
                    label: 'SKO',
                    data: SKOX.slice(0, 12),
                    backgroundColor: 'rgba(127, 250, 209, 0.2)',
                    borderColor: 'rgba(127, 250, 209, 1)',
                    borderWidth: 1
                },
                {
                    label: 'HSD',
                    data: HSDX.slice(0, 12),
                    backgroundColor: 'rgba(250, 137, 115, 0.2)',
                    borderColor: 'rgba(250, 137, 115, 1)',
                    borderWidth: 1
                },
                {
                    label: 'LDO',
                    data: LDOX.slice(0, 12),
                    backgroundColor: 'rgba(252, 168, 88, 0.2)',
                    borderColor: 'rgba(252, 168, 88, 1)',
                    borderWidth: 1
                },
                {
                    label: 'LOBS',
                    data: LOBSX.slice(0, 12),
                    backgroundColor: 'rgba(255, 117, 117, 0.2)',
                    borderColor: 'rgba(255, 117, 117, 1)',
                    borderWidth: 1
                },
                {
                    label: 'Fuel Oil',
                    data: fuelOilX.slice(0, 12),
                    backgroundColor: 'rgba(127, 227, 250, 0.2)',
                    borderColor: 'rgba(127, 227, 250, 1)',
                    borderWidth: 1
                },
                {
                    label: 'Bitumen',
                    data: bitumenX.slice(0, 12),
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    borderColor: 'rgba(255, 99, 132, 1)',
                    borderWidth: 1
                },
                {
                    label: 'PetCoke',
                    data: petCokeX.slice(0, 12),
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    borderColor: 'rgba(255, 99, 132, 1)',
                    borderWidth: 1
                },{
                    label: 'Others',
                    data: othersX.slice(0, 12),
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    borderColor: 'rgba(255, 99, 132, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                },
                plugins: {
                    title: {
                        display: true,
                        text: 'Exports in 2021-2022'
                    }
                }
            }
        });
        </script>
</body>

</html>