<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<title>Insert title here</title>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>

<canvas id="import1819" width="200" height="200"></canvas>


<script th:inline="javascript">
        var ctx = document.getElementById('import1819').getContext('2d');

        /*<![CDATA[*/


            var months = /*[[${data.sheet18_19.period}]]*/ ;
            var LPGM = /*[[${data.sheet18_19.imports[1].valuesPerMonth}]]*/ ;
            var MSM = /*[[${data.sheet18_19.imports[2].valuesPerMonth}]]*/ ;
            var napthaM = /*[[${data.sheet18_19.imports[3].valuesPerMonth}]]*/ ;
            var ATFM = /*[[${data.sheet18_19.imports[4].valuesPerMonth}]]*/ ;
            var SKOM = /*[[${data.sheet18_19.imports[5].valuesPerMonth}]]*/ ;
            var HSDM = /*[[${data.sheet18_19.imports[6].valuesPerMonth}]]*/ ;
            var LOBSM = /*[[${data.sheet18_19.imports[7].valuesPerMonth}]]*/ ;
            var fuelOilM = /*[[${data.sheet18_19.imports[8].valuesPerMonth}]]*/ ;
            var bitumenM = /*[[${data.sheet18_19.imports[9].valuesPerMonth}]]*/ ;
            var othersM = /*[[${data.sheet18_19.imports[10].valuesPerMonth}]]*/ ;
            var productImportM = /*[[${data.sheet18_19.imports[11].valuesPerMonth}]]*/ ;
            var totalImportM = /*[[${data.sheet18_19.imports[12].valuesPerMonth}]]*/ ;



        /*]]>*/

        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: months.slice(0, 12),
                datasets: [{
                    label: 'LPG',
                    data: LPGM.slice(0, 12),
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    borderColor: 'rgba(255, 99, 132, 1)',
                    borderWidth: 1
                },
                {
                    label: 'MS',
                    data: MSM.slice(0, 12),
                    backgroundColor: 'rgba(54, 162, 235, 0.2)',
                    borderColor: 'rgba(54, 162, 235, 1)',
                    borderWidth: 1
                },
                {
                    label: 'Naptha',
                    data: napthaM.slice(0, 12),
                    backgroundColor: 'rgba(54, 247, 161, 0.2)',
                    borderColor: 'rgba(54, 247, 161, 1)',
                    borderWidth: 1
                },
                {
                    label: 'ATF',
                    data: ATFM.slice(0, 12),
                    backgroundColor:'rgba(255, 115, 255, 0.2)',
                    borderColor: 'rgba(255, 115, 255, 1)',
                    borderWidth: 1
                },
                {
                    label: 'SKO',
                    data: SKOM.slice(0, 12),
                    backgroundColor: 'rgba(127, 250, 209, 0.2)',
                    borderColor: 'rgba(127, 250, 209, 1)',
                    borderWidth: 1
                },
                {
                    label: 'HSD',
                    data: HSDM.slice(0, 12),
                    backgroundColor: 'rgba(250, 137, 115, 0.2)',
                    borderColor: 'rgba(250, 137, 115, 1)',
                    borderWidth: 1
                },
                {
                    label: 'LOBS',
                    data: LOBSM.slice(0, 12),
                    backgroundColor: 'rgba(252, 168, 88, 0.2)',
                    borderColor: 'rgba(252, 168, 88, 1)',
                    borderWidth: 1
                },
                {
                    label: 'Fuel Oil',
                    data: fuelOilM.slice(0, 12),
                    backgroundColor: 'rgba(255, 117, 117, 0.2)',
                    borderColor: 'rgba(255, 117, 117, 1)',
                    borderWidth: 1
                },
                {
                    label: 'Bitumen',
                    data: bitumenM.slice(0, 12),
                    backgroundColor: 'rgba(127, 227, 250, 0.2)',
                    borderColor: 'rgba(127, 227, 250, 1)',
                    borderWidth: 1
                },
                {
                    label: 'Others',
                    data: othersM.slice(0, 12),
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    borderColor: 'rgba(255, 99, 132, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                },
                plugins: {
                    title: {
                        display: true,
                        text: 'Imports in 2018-2019'
                    }
                }
            }
        });
        </script>
</body>

</html>