<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Visualised Data</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/sb-admin-2.min.js}"></script>

    <link th:href="@{/css/all.min.css}" th:rel="stylesheet">
    <link th:href="@{/css/sb-admin-2.min.css}" th:rel="stylesheet">
    <style>
            .card-body{
                height: 100vh;
            }
        </style>
</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="india.html" >
            <img src="img/logo.png" width="120" >
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Countries
        </div>

        <!-- Nav Item - India1 -->
        <li class="nav-item">
            <a class="nav-link" href="/india/monthly">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>India 1</span></a>
        </li>

        <!-- Nav Item - Indonesia -->
        <li class="nav-item">
            <a class="nav-link" href="/indonesia/monthly">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Indonesia</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

    </ul>
    <!-- End of Sidebar -->
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h1 mb-0 text-gray-800 mt-1">Visualised Data</h1>
                </div>

                <!-- Content Row -->

                <div class="row">

                    <!-- Area Chart -->
                    <div class="col-12">
                        <div class="card shadow mb-10 mh-100">
                            <!-- Card Header - Dropdown -->
                            <div
                                    class="card-header py-10 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">Indonesia</h6>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <div class="chart-area">
                                    <div id="yearsDropdown" class="form-group row">
                                        <label for="years" class="col-sm-2 col-form-label">Choose a year:</label>

                                        <select class="form-control col-sm-10" required="required" name="years" id="years" th:onchange="changeChart()">
                                            <option disabled="disabled" selected="selected" th:value="-1"> -- Select --</option>
                                            <!-- <option th:each="sheet : ${data}" th:value="${sheet}" th:text="${sheet}"></option> -->
                                        </select>

                                        <!--
                                        <select name="years" id="years" th:onchange="changeChart()">
                                            <option th:value="-1" th:selected="-1">--- Select ---</option>
                                            <option th:value="1">17-18</option>
                                            <option th:value="2">18-19</option>
                                            <option th:value="0">19-20</option>
                                            <option th:value="4">20-21</option>
                                            <option th:value="3">Current</option>
                                        </select> -->

                                    </div>

                                    <div class="form-group row">
                                        <label for="importexport" class="col-sm-2 col-form-label">Import/Export:</label>

                                        <select class="form-control col-sm-10" required="required" name="importexport" id="importexport" th:onchange="changeChart()">
                                            <option disabled="disabled" selected="selected"th:value="-1" th:selected="-1">-- Select --</option>
                                            <option th:value="import">Import</option>
                                            <option th:value="export">Export</option>
                                            <!-- KIV if wanna put net import here -->
                                            <option th:value="netimport">Net Import</option>
                                            <option th:value="oadimport">Origin and Destination Import</option>
                                            <option th:value="oadexport">Origin and Destination Export</option>
                                        </select>
                                    </div>

                                    <div id="productgroupinput" class="form-group row">
                                        <label for="productgroup" class="col-sm-2 col-form-label">Product:</label>

                                        <select class="form-control col-sm-10" required="required" name="productgroup" id="productgroup" th:onchange="changeChart()" disabled>
                                            <option disabled="disabled" selected="selected" th:value="-1" th:selected="-1">-- Select --</option>
                                            <!-- <option th:value="oadexport">Origin and Destination Export</option> -->
                                        </select>
                                    </div>

                                    <canvas id="Chart"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

</div>
<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

</body>
<script type="text/javascript" th:inline="javascript">
    window.onload = () => {
        var select = document.getElementById("years");

        for (yearOption of yearOptionsList) {
            var option = document.createElement("option");
            option.value = yearOption;
            option.text = yearOption;
            select.appendChild(option);
        }
    }

    var months = /*[[${months}]]*/;
    var imports = /*[[${import}]]*/;
    var exports = /*[[${export}]]*/;
    var net = /*[[${net}]]*/;
    var origin = /*[[${byOriginAndDestinationImports}]]*/;
    var dest = /*[[${byOriginAndDestinationExports}]]*/;

    // console.log("--- MONTHS ---");
    // console.log(months);
    // console.log("--- IMPORTS ---");
    // console.log(imports);
    // console.log("--- EXPORTS ---");
    // console.log(exports);
    // console.log("--- NET ---");
    // console.log(net);
    // console.log("--- ORIGIN ---");
    // console.log(origin);
    // console.log("--- DEST ---");
    // console.log(dest);


    var yearOptionsList = [];

    // USER INPUTS
    for (yearOption in imports) {
        if (yearOption != "Error") {
            yearOptionsList.push(yearOption);
        }
    }

    // var year = document.getElementById("years").value;
    // var year = "2017"; // ONLY INPUT FOR NET IMPORTS
    // var productGroup = "crude_oil";
    // var Type = origin;

    var productGroupArr = [];


    backgroundColor= [
        'rgba(255, 99, 132, 0.2)',
        'rgba(54, 162, 235, 0.2)',
        'rgba(54, 247, 161, 0.2)',
        'rgba(255, 115, 255, 0.2)',
        'rgba(250, 137, 115, 0.2)',
        'rgba(252, 168, 88, 0.2)',
        'rgba(255, 117, 117, 0.2)',
        'rgba(127, 227, 250, 0.2)',
        'rgba(255, 99, 132, 0.2)',
        'rgba(127, 250, 209, 0.2)',
        'rgba(178, 141, 252, 0.2)',
        'rgba(168, 255, 236, 0.2)',
        'rgba(132, 233, 93, 0.2)',
        'rgba(213, 242, 212, 0.2)',
        'rgba(22, 222, 134, 0.2)',
        'rgba(98, 187, 189, 0.2)',
        'rgba(190, 188, 178, 0.2)',
        'rgba(57, 111, 211, 0.2)',
        'rgba(88, 145, 201, 0.2)',
        'rgba(48, 135, 200, 0.2)',
        'rgba(46, 198, 231, 0.2)',
        'rgba(176, 95, 123, 0.2)',
        'rgba(49, 149, 249, 0.2)',
        'rgba(47, 64, 32, 0.2)',
        'rgba(243, 158, 139, 0.2)'
    ]

    backgroundColorBar= [
        'rgba(255, 99, 132, 1)',
        'rgba(54, 162, 235, 1)',
        'rgba(54, 247, 161, 1)',
        'rgba(255, 115, 255, 1)',
        'rgba(250, 137, 115, 1)',
        'rgba(252, 168, 88, 1)',
        'rgba(255, 117, 117, 1)',
        'rgba(127, 227, 250, 1)',
        'rgba(255, 99, 132, 1)',
        'rgba(127, 250, 209, 1)',
        'rgba(178, 141, 252, 1)',
        'rgba(168, 255, 236, 1)',
        'rgba(132, 233, 93, 1)',
        'rgba(213, 242, 212, 1)',
        'rgba(22, 222, 134, 1)',
        'rgba(98, 187, 189, 1)',
        'rgba(190, 188, 178, 1)',
        'rgba(57, 111, 211, 1)',
        'rgba(88, 145, 201, 1)',
        'rgba(48, 135, 200, 1)',
        'rgba(46, 198, 231, 1)',
        'rgba(176, 95, 123, 1)',
        'rgba(49, 149, 249, 1)',
        'rgba(47, 64, 32, 1)',
        'rgba(243, 158, 139, 1)'
    ]

    borderColor=[
        'rgba(255, 99, 132, 1)',
        'rgba(54, 162, 235, 1)',
        'rgba(54, 247, 161, 1)',
        'rgba(255, 115, 255, 1)',
        'rgba(250, 137, 115, 1)',
        'rgba(252, 168, 88, 1)',
        'rgba(255, 117, 117, 1)',
        'rgba(127, 227, 250, 1)',
        'rgba(255, 99, 132, 1)',
        'rgba(127, 250, 209, 1)',
        'rgba(178, 141, 252, 1)',
        'rgba(168, 255, 236, 1)',
        'rgba(132, 233, 93, 1)',
        'rgba(213, 242, 212, 1)',
        'rgba(22, 222, 134, 1)',
        'rgba(98, 187, 189, 1)',
        'rgba(190, 188, 178, 1)',
        'rgba(57, 111, 211, 1)',
        'rgba(88, 145, 201, 1)',
        'rgba(48, 135, 200, 1)',
        'rgba(46, 198, 231, 1)',
        'rgba(176, 95, 123, 1)',
        'rgba(49, 149, 249, 1)',
        'rgba(47, 64, 32, 1)',
        'rgba(243, 158, 139, 1)'
    ]

    var monthlyLine = "";
    var netImportBar = "";
    var additionalBar = "";

    function changeChart() {

        if (monthlyLine != "") {
            monthlyLine.destroy();
        }
        if (netImportBar != "") {
            netImportBar.destroy();
        }
        if (additionalBar != "") {
            additionalBar.destroy();
        }

        var type = "";
        var Type = "";
        var year = document.getElementById("years").value;
        var importexportChoice = document.getElementById("importexport").value;
        var productGroupChoice = document.getElementById("productgroup").value;

        console.log(year);
        console.log(importexportChoice);
        if (year == -1 || importexportChoice == -1) {
            return;
        }

        if (importexportChoice == "export") {
            document.getElementById("productgroup").value = -1;
            document.getElementById("productgroup").disabled = true;
            Type = "";
            type = exports;
        }
        else if (importexportChoice == "import") {
            document.getElementById("productgroup").value = -1;
            document.getElementById("productgroup").disabled = true;
            Type = "";
            type = imports;
        }
        else if (importexportChoice == "netimport") {
            document.getElementById("productgroup").value = -1;
            document.getElementById("productgroup").disabled = true;
            type = "";
            Type = "";
        }
        else if (importexportChoice == "oadimport") {
            document.getElementById("productgroup").disabled = false;
            type = "";
            Type = origin;

            var select = document.getElementById("productgroup");
            select.innerHTML = `<option disabled="disabled" selected="selected" th:value="-1" th:selected="-1">-- Select --</option>`;
            for (productName in Type[year]) {
                var option = document.createElement("option");
                option.value = productName;
                option.text = productName;
                select.appendChild(option);
            }

            if (additionalBar != "") {
                additionalBar.destroy();
            }
        }
        else if (importexportChoice == "oadexport") {
            document.getElementById("productgroup").disabled = false;
            type = "";
            Type = dest;

            var select = document.getElementById("productgroup");
            select.innerHTML = `<option disabled="disabled" selected="selected" th:value="-1" th:selected="-1">-- Select --</option>`;
            for (productName in Type[year]) {
                var option = document.createElement("option");
                option.value = productName;
                option.text = productName;
                select.appendChild(option);
            }

            if (additionalBar != "") {
                additionalBar.destroy();
            }
        }
       
        

        if (importexportChoice == "export" || importexportChoice == "import"){
        var colourIndex = 0;
        var data = {labels:months, datasets:[]}
        
        for (productGroup in type[year]){
            var line = {
                label:productGroup,
                borderColor: `${borderColor[colourIndex]}`,
                backgroundColor: `${backgroundColor[colourIndex]}`,
                lineTension: 0,
                fill: false,
                data:[]
            }
            colourIndex++;
            for (month of months){
                monthFound = false;
                for (month_fullname in type[year][productGroup]){
                    if (month_fullname.substring(0,3).toLowerCase() == month.toLowerCase()){
                        line["data"].push(type[year][productGroup][month_fullname])
                        monthFound = true;
                        break
                    }
                }
                if (!monthFound){
                    console.log("Missing month for"+productGroup+month)
                    line["data"].push(0)
                }
            }
            data["datasets"].push(line)
        }
        // console.log(data)


        var ctx = document.getElementById("Chart").getContext('2d');
        monthlyLine = new Chart(ctx, {
                type: 'line',
                // data: {
                //     labels: months ,
                //     datasets: [{
                //         label: "Chart-1",
                //         borderColor: 'rgb(255, 0, 1)',
                //         lineTension: 0,
                //         fill: false,
                //         //the same manner as described above, only is taken out of the point in the variable expression.
                //         data: [1,2,3,4,5,6,7,8,9,1,11] ,
                //     }, ]
                // },
                data: data,
                options: {
                    responsive: true,
                }
        });
    }

        else if (importexportChoice == "netimport"){
            var colourIndex = 0;
            // console.log(net);
            var data = {labels:months, datasets:[]}
            for (productGroup in net[year]){
                var line = {
                    label:productGroup,
                    borderColor: `${borderColor[colourIndex]}`,
                    backgroundColor: `${borderColor[colourIndex]}`,
                    lineTension: 0,
                    fill: true,
                    data:[]
                }
                colourIndex++;
                for (month of months){
                    for (month_fullname in net[year][productGroup]){
                        if (month_fullname.substring(0,3).toLowerCase() == month.toLowerCase()){
                            line["data"].push(net[year][productGroup][month_fullname])
                            break
                        }
                    }
                }
                data["datasets"].push(line)
            }



            var ctx = document.getElementById("Chart").getContext('2d');
            netImportBar = new Chart(ctx, {
                    type: 'bar',
                    // data: {
                    //     labels: months ,
                    //     datasets: [{
                    //         label: "Chart-1",
                    //         borderColor: 'rgb(255, 0, 1)',
                    //         lineTension: 0,
                    //         fill: false,
                    //         //the same manner as described above, only is taken out of the point in the variable expression.
                    //         data: [1,2,3,4,5,6,7,8,9,1,11] ,
                    //     }, ]
                    // },
                    data: data,
                    options: {
                        responsive: true,
                    }
            });
        }

        else if (importexportChoice == "oadimport" || importexportChoice == "oadexport"){
            if (productGroupChoice != -1) {
                document.getElementById("productgroup").value = productGroupChoice;
                var colourIndex = 0;
                var colourMap = {};
                var data = {
                    labels: months,
                    datasets: [
                    ]
                };

            // remove countries with zero values
            // map each country to a colour on colourMap
            for (month_fullname in Type[year][productGroupChoice]){
                for (country in Type[year][productGroupChoice][month_fullname]){
                    if (Type[year][productGroupChoice][month_fullname][country]==0){
                        delete Type[year][productGroupChoice][month_fullname][country]
                    }
                    else{
                        if (!(country in colourMap)){
                            colourMap[country] = backgroundColorBar[colourIndex]
                            colourIndex++
                        }
                    }
                }
            }

            // console.log(colourMap);
            // console.log(Type);

            // create dataset stencil for each country into chartjs context
            for (country in colourMap){
                data["datasets"].push({
                    type: 'bar',
                    label: country,
                    backgroundColor: colourMap[country],
                    data:[]
                })
            }

            // populate values for each country in each month into chartjs context
            for (each_bar of data["datasets"]){
                country = each_bar["label"]
                for (month of months){
                    monthFound = false
                    for (month_fullname in Type[year][productGroupChoice]){
                        if (month_fullname.substring(0,3).toLowerCase() == month.toLowerCase() && country in Type[year][productGroupChoice][month_fullname]){
                            each_bar["data"].push(Type[year][productGroupChoice][month_fullname][country])
                            monthFound = true
                            break
                        }
                    }
                    if (!monthFound){
                        each_bar["data"].push(0)
                    }
                }
            }
            console.log(data)
            
            var totalsLine = {
                type: 'line',
                label: year,
                data: [0,0,0,0,0,0,0,0,0,0,0,0],
                backgroundColor:'rgba(255, 0, 0, 0.2)',
                borderColor: 'rgba(255,0,0,1)',
                fill:false,
                lineTension: 0
            }

            // populating totalsLine 'data' key that contains total values for each month into chartjs context
            for (dataset of data["datasets"]){
                // console.log(dataset["data"])
                for (i=0;i<dataset["data"].length;i++){
                    totalsLine["data"][i] += dataset["data"][i]
                }
            }
            data["datasets"].unshift(totalsLine)
            // console.log(data)

            var ctx = document.getElementById("Chart").getContext('2d');
            additionalBar = new Chart(ctx, {
                type:'bar',
                data: data,
                options: {
                    responsive: true,
                    scales: {
                        xAxes: [{
                            stacked: true // this should be set to make the bars stacked
                        }],
                        yAxes: [{
                            stacked: true // this also..
                        }]
                    }
                }
            });

            // const data = {
            //     labels: ['test','test1'],
            //     datasets: [
            //         {
            //             label: 'Dataset 1',
            //             data: [10,0],
            //             backgroundColor: 'rgba(168, 205, 236, 1)',
            //         },
            //         {
            //             label: 'Dataset 2',
            //             data: [1,2],
            //             backgroundColor: 'rgba(128, 225, 126, 1)',
            //         },
            //         {
            //             label: 'Dataset 3',
            //             data: [3,2],
            //             backgroundColor: 'rgba(111, 142, 126, 1)',
            //         },
            //     ]
            // }
            }

        }
                
        
    }

    
  </script>
</html>
